.git
.gitignore
.env
.env.*
!.env.example
.vscode
.idea
node_modules
dist
build
database
supabase
*.md
*.log
*.pem
*.key
*.p12
*.dump
*.backup
*.sql.gz
.supabase
.tempmediaStorage
vercel.json
style.css
